.newPrice{
    top: 520px;
    left: 56px;
    font-size: 25px;
    color:#A73AFD;
    font-family: "Jura", sans-serif;
    position: absolute;
}

.oldPrice{
    top: 528px;
    left: 150px;
    text-decoration: line-through;
    font-size: 16px;
    color: #808090;
    font-family: "Jura", sans-serif;
    position: absolute;
}

.withWallet{
    font-size:16px ;
    font-family: "Jura", sans-serif;
    position: absolute;
    width: 100px;
}

.description{
    width: 470px;
    position: absolute;
    top: 600px;
    left: 56px;
    font-size: 16px;
    font-family: "Jura", sans-serif;
}

.bonusImg{
    position:absolute;
    top: 650px;
    left: 56px;
}

.bonusImg img{
    width: 30px;
    height: 30px;
}

.reviews{
    position:absolute;
    top: 655px;
    left: 90px;
    font-size: 16px;
    font-family: "Jura", sans-serif;
}