.button{
    background-color: #A73AFD;
    width: 444px;
    height: 52px;
    border-radius: 15px;
    position:absolute;
    top: 790px;
    left: 740px;
}

.buttonText{
    font-size: 19px;
    position: inherit;
    left: 110px;
    top: 13px;
    color: #ddd9d9;
    font-family: "Jura", sans-serif;
}