.button{
    background-color: #A73AFD;
    width: 444px;
    height: 52px;
    border-radius: 15px;
    position:absolute;
    top: 735px;
    left: 56px;
}

.buttonText{
    font-size: 19px;
    position: inherit;
    left: 110px;
    top: 13px;
    color: #ddd9d9;
    font-family: "Jura", sans-serif;
}

.button:hover{
    width: 450px;
    height: 57px;
    transition: 0.3s;
}